@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6e6e77ab;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background-color: #f9f9fb;
    border-radius: 4px; margin: 10px; padding: 8px;
}

section > p {
    text-indent: 20px;
    text-align: justify;
    padding: 10px;
}

section > ul {
    text-align: left;
    padding-left: 10px;
    padding: 10px;
}

section > h2{
    background-image: linear-gradient(to right, #52a3f586, #52a3f586, #ffa60086);
    text-align: left;
    padding-left: 10px;
    padding: 10px;
    border-radius: 3px;
}

header {
    background-color: #52a3f586;
}

header > h1 {
    color: white;
    text-align: center;
}

header > p {
    color: white;
    padding-top: 5px;
    padding-left: 5px;
}

nav {
    background-color: #52a3f586;
    text-align: left;
    padding-top: 10px;
    padding: 5px;
    box-shadow: 2px 2px 2px #4141466c;
    border-radius: 5px;
}

nav > ul li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #FFA500;
}

main {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(41, 37, 37, 0.466);
}

footer {
    background-color: #414146;
    text-align: center;
}

#contato a {
    color: #1E90FF;
    text-decoration: none;
}

#contato a:hover {
    color: #FFA500;
}

/* Seção Sobre Mim */
#sobre {
  padding: 20px;
  background-color: #f9f9fb;
  border-radius: 4px;
  margin: 10px;
}

.sobre-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap; /* para ajustar no mobile */
}

.sobre-container img {
  width: 200px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .sobre-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  main {
      margin: 0px;
      padding: 0px;
  }

  .sobre-container p {
    text-align: justify;
    text-indent: 0;
  }

}
