@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --corpri0: #5E8FFF;
    --corpri1: #517BDB;
    --corpri2: #4264B3;
    --corpri3: #334D8A;
    --corpri4: #243661;

    --corsec0: #8660FF;
    --corsec1: #7353DB;
    --corsec2: #5E44B3;
    --corsec3: #48348A;
    --corsec4: #332561;

    --corter0: #FFE04B;
    --corter1: #DBC140;
    --corter2: #B39D34;
    --corter3: #8A7928;
    --corter4: #61551C;

    --corqua0: #FFC34B;
    --corqua1: #DBA740;
    --corqua2: #B38834;
    --corqua3: #8A6928;
    --corqua4: #614A1C;
    
    --fonte-titulo: 'JetBrains Mono', sans-serif;
    --fonte-principal: 'work-sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6e6e77ab;
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    font-family: var(--fonte-titulo)
}

header {
    background-image: linear-gradient(to bottom, var(--corpri2), var(--corpri4));
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

header > h1 {
    padding-bottom: 10px;
}

nav {
    background-color: var(--corpri4);
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 0px 0px 3px 3px;
}

nav > a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

nav a:hover {
    text-decoration: underline;
    background-color: var(--corqua0);
    border-radius: 3px;
    transition: 0.3s;
    color: var(--corpri0);
}

main {
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    display: block;
    margin: auto;
    padding: 20px;
}

main h2 {
    background-color: var(--corsec0);
    padding: 5px;
    border-radius: 3px;
}

main img {
    display: block;
    margin: auto;
    max-height: 50%;
    width: 80%;
    border-radius: 20px;
}

